<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
    <div style="max-width: 600px;margin:30px auto;">
        <div style="margin: 10px 0;">
            <a href="http://simafe.com"><img width="150" src="http://simafe.com/wp-content/uploads/2019/07/logo_simafe.png" alt="logo simafe"></a>
        </div>
        <div style="background-color: rgb(65, 65, 66);color:white;padding: 15px;display:flex">
            <h3 style="margin:auto 0;">BONJOUR {{t.name}}</h3>
        </div>
        <div style="margin: 10px;">
            {{mail.text|raw}}
        </div>
    </div>
    
</body>
</html>