{% extends 'dashbordBase.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}
{% block mbody %}
<div class="p-5 border rounded bg-light">
    <div class="mb-3 text-center">
        <h1 style="font-weight: 500;">Modifier le mot de passe</h1>
    </div>

    {{ form_start(updatePassForm) }}
    {{ form_widget(updatePassForm) }}
    <div class="modal-footer px-0">
        <button type="submit" class="btn btn-primary" style="font-size: 16px;">Modifier</button>
    </div>
    {{ form_end(updatePassForm) }}
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}