{% extends 'dashbordBase.html.twig' %}

{% block title %}Dashbord{% endblock %}

{% block mbody %}
<div class="container">
    <div class="mb-3 text-center">
        <h1 style="font-weight: 500;">Dashbord</h1>
    </div>
</div>
{% endblock %}